In [ ]:
! pip install pandas
! pip install Pyarrow

#### renamed csv files
- 2994 BDRC Monasteries Old_01.25.24DT.csv -> old.csv
- 4195_BDRC Monasteries New Org.csv -> new.csv

In [6]:
import pandas as pd
df_new = pd.read_csv('data/new.csv')
df_old = pd.read_csv('data/old.csv')

In [7]:
df_new.head()

,id,name,lat,long,located in
0,G339,reb gong khyung dgon/,NaN,NaN,reb gong /
1,G1KR1699,rdo rting dgon/; 多登寺,31.20633,94.19508,Biru county; 'bri ru rdzong /; 比如县
2,G1KR1462,加里寺; rgya ri dgon/,28.78735,92.09557,chu gsum rdzong /; Chusum county; 曲松县
3,G1060,shangs 'bras spungs/,NaN,NaN,NaN
4,G2921,kha shul dgon/,NaN,NaN,brag skas chus (spo bo rdzong); 波密县; spo bo rd...

In [8]:
df_old.head()

,the_geom,cartodb_id,chgis_id,altname_wylie,name_ch,name_py,town_ch,town_py,town_syl,gbcnty,...,field_45,field_46,field_47,field_48,field_49,field_50,field_51,field_52,field_53,field_54
0,0101000020E61000009FB0C403CABA5940672C9ACE4EAE...,2924.0,2059.0,NaN,NaN,NaN,曲奥乡,Quao xiang,Qu Ao Xiang,623027.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0101000020E61000000B98C0ADBBBB5840656666666626...,122.0,549.0,NaN,NaN,qu ou si,浪多乡,Langduo xiang,Lang Duo Xiang,513330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0101000020E6100000DC989EB0C44358404AEF1B5F7B82...,2827.0,2691.0,NaN,嘉那嘛呢康,jiana mani kang,结古镇,Jiegu zhen,Jie Gu Zhen,632721.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0101000020E6100000289B7285770759403A0664AF7777...,2480.0,450.0,NaN,NaN,ya wo si,沙堆乡,Shadui xiang,Sha Dui Xiang,513329.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0101000020E61000004963B48EAA0A5940C6F99B5088C8...,115.0,475.0,NaN,NaN,leng bu si,博美乡,Bomei xiang,Bo Mei Xiang,513329.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_old.columns

Index(['the_geom', 'cartodb_id', 'chgis_id', 'altname_wylie', 'name_ch',
       'name_py', 'town_ch', 'town_py', 'town_syl', 'gbcnty', 'cnty_ch',
       'cnty_py', 'gbdist', 'dist_py', 'prov_py', 'orig_file', 'lat', 'long',
       'gbtown_from_lex', 'gis_id_from_lex', 'name_wylie_from_lex',
       'gbtown_from_tbrc', 'gis_id_from_tbrc', 'wylie_name_from_karl',
       'normalized_wylie_name_tbrc', 'county', 'tbrc_county_g_',
       'tbrc_county_notes', 'tbrc_site_g_', 'tbrc_site_notes',
       'alternative_wylie_name', 'tbrc_phonetic', 'phonetic',
       'primary_chinese_cha', 'alternative_chinese_cha', 'pinyin_name',
       'founding', 'sect', 'gonpa_per_1000_sq_km', 'gonpa_per_ecumen',
       'conv_date_1', 'conv_sect_1', 'conv_date_2', 'conv_sect_2', 'notes',
       'problems', 'field_45', 'field_46', 'field_47', 'field_48', 'field_49',
       'field_50', 'field_51', 'field_52', 'field_53', 'field_54'],
      dtype='object')